<template name="Airbnb_footer">
    <div class="airbnb-footer">
        <ul class="list-inline">
            <li><a href="#">Bangladesh</a></li><span>></span>
            <li><a href="#">Dhaka Division</a></li><span>></span>
            <li><a href="#">Dhaka</a></li>
        </ul>
        <br>
        <span>Places nearby:</span>
        <br><br>
        <div class="footer-menu">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Chiang Mai</a></li>
                        <li><a href="#">Kathmandu</a></li>
                        <li><a href="#">Singapore</a></li>
                        <li><a href="#">Hong Kong</a></li>
                    </ul>    
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Bangkok</a></li>
                        <li><a href="#">Mueang Phuket</a></li>
                        <li><a href="#">Bei District</a></li>
                        <li><a href="#">Bangalore</a></li>
                    </ul>    
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Luanda</a></li>
                        <li><a href="#">Jeddah</a></li>
                        <li><a href="#">Riyadh</a></li>
                        <li><a href="#">Nuestra Senora de La Paz</a></li>
                    </ul>    
                </div>                    
            </div>
        </div>            
    </div>
</template>