<template name="Place_update">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {{> updatePlaceForm}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="updatePlaceForm">
    <h3>Update Listing</h3>
    <hr>
    {{> quickForm 
        collection="Places" 
        doc=placesDoc 
        id="updatePlaceForm" 
        omitFields="userId" 
        type="method-update"
        meteormethod="updatePlace"
    }}
</template>