<template name="Place_detail">

    {{#with places}}        

    <div class="place-detail-images">
        {{> Place_detail_slider}}
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">                    
                    <div class="place-menu">
                        <ul class="list-inline">
                            {{#if currentUser}}                            
                                <li class="pull-right"><a href="/update-place/{{_id}}" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                <a href="#" class="btn btn-danger btn-remove"><i class="fa fa-remove"></i></a></li> 
                            {{/if}}
                        </ul>
                        <h3>{{placeName}}</h3>                        
                    </div>
                    <hr>

                    <div class="row">
                        <div class="host-info">
                            <div class="user-thumbnail">
                                {{#with host}}
                                    <img src="img/user.jpg" class="profile-pic" alt="">
                                    <p>by <a href="#"> {{name}}</a> on {{formateDate createdAt}}</p>
                                {{/with}}
                            </div>     
                        </div> 
                    </div>     
                    <hr>                 
                    <p>{{ description }}</p>
                    <hr>      

                    <!--Reviews-->
                    <div class="reviews" id="reviews">
                        {{> Reviews }}
                    </div>
                    <hr>
                </div>
            </div>           

            <!--Similar listing -->
            {{> Similar_listing}}
            
            <!--Footer-->
            {{> Airbnb_footer}}
                        
        </div>
    </div>

    {{/with}}                        

</template>



<template name="Place_detail_slider">
    <div class="slider">
        <div class='owl-carousel'>
            {{#each pictures}}
                <div><img src="http://localhost:3000/cdn/storage/Images/{{filename}}/original/{{filename}}.png" width="100%" alt=""></div>
            {{/each}}
        </div>            
    </div>
    <script>
        $('.owl-carousel').owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            lazyLoad: true,
            navText: ['']
        });
    </script>  
</template>

<template name="User_thumbnail">
    <div class="user-thumbnail">
        {{#with userProfile}}
            <img src="img/user.jpg" class="profile-pic" alt="">
            <p><a href="#">{{name}}</a></p>
        {{/with}}
    </div>        
</template>


<template name="Similar_listing">
    <div class="similar-listing">
        <h4>Similar Projects</h4>
        <hr>
        <div class="row">
            {{#each similarPosts}}                                       
                <div class="col-md-4">
                    {{> Airbnb_list_card}}                                 
                </div>
            {{/each}}        
        </div>            
        <script>
            $('.owl-carousel').owlCarousel({
                items: 1,
                loop: true,
                nav: true,
                lazyLoad: true,
                navText: ['']
            });
        </script>                         
    </div>  
</template>
